@font-face {
    font-family:"Futura PT";
    src: url("font/Futura Md BT Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family:"Proxima Nova";
    src: url("font/proximanova-regular-webfont.ttf");
    font-weight: 300;
}
@font-face {
    font-family:"Proxima Nova";
    src: url("font/proximanova-bold-webfont.ttf");
    font-weight: 700;
}
body{
background-image:url("../img/bg.jpg");
background-repeat:no-repeat;
background-position:top center;
    background-size: cover;
    }
.white{color: white}

p{
		font-family: "Proxima Nova";
		    font-weight: 300;
		font-size: 16pt;
		text-align: left;
				color:#FFF;

}

#preform{margin-bottom: 30px;}

article{
	margin-top: 10vh;}
label {color: white;}

.gotoinscription{
	display: block;	
	  text-decoration: underline;
}
.login{
zoom: 1;
filter: alpha(opacity=50);
opacity: 1;
  border: 0px solid #EEE !important;!important;
  border-bottom: 3px solid #FFF !important;
  margin-bottom: 15px;
  font-style: normal;
  text-decoration:none;
 font-size:1.2em;
 font-family:"Proxima Nova";
  font-weight:bold;
  padding: 10px 0px;
  color: #FFF;
  width: 71% !important;
}
#submit{
 margin-bottom: 12px;
 width: 71%;
 padding: 10px;
 font-style: normal;
 text-decoration:none;
 font-weight:bold;
 font-size:1.2em;
 font-family:"Proxima Nova";
 color: #FFF;
 border: 5px solid  #FFF;;
 background-color: hsla(0,0%,100%,0.00);
 transition: all 0.3s ease-in-out;
}
#submit:hover
{
  background: #FFF;!important
  color: #333;

}