#submit{
 margin-bottom: 12px;
 width: 71%;
 padding: 10px;
 font-style: normal;
 text-decoration:none;
 font-weight:bold;
 font-size:1.2em;
 font-family:"Proxima Nova";
 color: #8c8c60;
 border: 5px solid  #8c8c60;;
 background-color: hsla(0,0%,100%,0.00);
 transition: all 0.3s ease-in-out;
}
#submit:hover
{
  background: #8c8c60;!important
  color: #fff!important;

}